/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #ff0070;
  --button-color: #ff0070;
  --title-shadow-color: #ff0070;
  --button-border-color: #ff0070;
  --border-color: rgba(255, 0, 112, 0.4);
  --font-family: "IBM Plex mono", monospace;
  --font-size: 18px;
  --section-title: #ff0070;
  --section__article-title-color: #000;
  --section__article-text-color: #F1B2CE;
}

